<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="ui labeled input">
      <div class="ui label">
        <%= f.label :first_name %>
      </div>
        <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="field">
    <div class="ui labeled input">
      <div class="ui label">
        <%= f.label :last_name %>
      </div>
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="field">
    <div class="ui labeled input">
      <div class="ui label">
        <%= f.label :salutation %>
      </div>
      <%= f.text_field :salutation %>
    </div>
  </div>
  <div class="field">
    <div class="ui labeled input">
      <div class="ui label">
        <%= f.label :class_level %>
      </div>
      <%= f.text_field :class_level %>
    </div>
  </div>
  <div class="field">
    <div class="ui labeled input">
      <div class="ui label">
        <%= f.label :class_name %>
      </div>
      <%= f.text_field :class_name %>
    </div>
  </div>
  <div class="field">
    <div class="ui selection dropdown">
      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div class="default text"><%= f.label :school_id %></div>
      <div class="menu">
        <%= School.all.each do |school| %>
            <div class="item" data-value="1"><%= school.name %></div>
        <% end %>
      </div>
    </div>

    <div class="ui labeled input">
      <div class="ui label">
        <%= f.label :school_id %>
      </div>
      <%= f.collection_select :school, School.all, :id, :name , class: 'item'%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'ui primary button'%>
  </div>
<% end %>
